{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}"/>{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-5 text-center border">
            <form method="post">
                {% csrf_token %}
                <h1 class="h3 mb-3 font-weight-normal">Login</h1>
                <input type="hidden" name="next" value="{{ next }}">

                {{ form|crispy }}

                <div class="right-side">
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}